        body {
            font-family: Arial, sans-serif;
            background: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        img{
            width: 300px;
            position: absolute;
            top: 20px;
        }

        .container {
            background: white;
            width: 90%;
            max-width: 400px;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        input, select, button {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button {
            background: #562ec2;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover {
            background: #2f0669;
        }

        /* Confirmation Page */
        #success-box {
            display: none;
            text-align: center;
        }

        #success-box h2 {
            color: green;
        }

        @media (max-width: 400px) {
            input, select, button {
                font-size: 14px;
                padding: 10px;
            }
        }
    